@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    height: 80px;
    margin: 0 auto;
    align-items: center;
    position: relative;
}

.header__logo {
    height: auto;
    width: 150px;
}

.header__logo img {
    width: 70%;
}

.user__icon {
    height: 45px;
    width: 45px;
}

.user__icon img {
    width: 100%;
    height: auto;
}

/* main content */
#row {
    display: flex;
    flex-wrap: nowrap;
}

#container {
    width: 78%;
}

#side-bar {
    height: 32%;
    border-left: 1px solid #727272;
}


/* dropdown */

/* ボタンの矢印のところ */
.dropdown__btn {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    color: #333;
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
    border: none;
    width: 10px;
}

.dropdown__btn::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 0;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -6px;
    transform: rotate(45deg);
}

/* プルダウンで隠したくない */
.dropdown__body {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
}

/* プルダウンで隠したい */
/* 最初はnoneで隠れているがJSが動くことでopenが付きblockででてくる */
.dropdown__list {
    display: none;
    width: 300px;
}

.open {
    display: block;
    position: absolute;
}

.dropdown__wrap {
    position: absolute;
    z-index: 10;
    right: 0px;
    background-color: white;
}

.dropdown__item {
    font-size: 1.3rem;
    padding: 30px;
    text-align: center;
    border: 2px solid navy;
    margin: 0 0 -2px;
}

.dropdown__list a {
    color: gray;
}

.dropdown__item:hover {
    background-color: navy;
    color: white;
}

/* これはhoverして開くやつ */
/* .dropdown__body:hover .dropdown {
    display: block;
} */


/* tweet */
/* 投稿のところ */

.post__icon {
    height: 90px;
    width: 90px;
    border: none;
    background-color: white;
}

.post__icon img {
    width: 100%;
    height: auto;
}

.tweet__icon {
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
}

.tweet__icon img {
    width: 100%;
    height: auto;
}


#post {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

#tweet {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 60px;
}

.input {
    width: 800px;
    /* border: none; */
    outline: none;
}

/* ここからモーダル */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* ユーザー検索 */

#search {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}
